language: node_js
node_js:
- node
- '4.3'
- iojs
- '0.12'
matrix:
  fast_finish: true
sudo: false
script:
- npm run ci
before_deploy:
- npm run build
deploy:
  provider: npm
  email: simon@simonemms.com
  on:
    all_branches: true
    tags: true
    repo: riggerthegeek/steeplejack-mysql
  api_key:
    secure: kadbI37OFjIyuZ+It1PfvQwxGbNUMAN+1wEurs38SmqlRmTiTIkAfWdwYzRdLyGEAmsFwh8S5s3KEILkdMXRJiUfVWXeBdDjCdaZHVWJMTmGe7Y/xfVKCiq/M6jfpFREtylh+72eRbdfJ0fHucxnoMHNX0KgbqKmAAw75j0qn0N/B1Atwvk91hslzB/PpfzLuMkRNoMJxafc83htht69qfEH7l8UAU52Rz8D0/CfvGGHNVa74P2rGbq1K1bZY0Ooa8wgpE8z4iD+exJtiRIc8WSBXPrnnld1OxAHLogn43qUn6TzsujxrQIdioAxP1TYjwAlIZgB6fyDEDbzIGxeN0MamcMSpLOgfEq/FQfVffpVPSJ3RmbrMQYmY4d+ai9jHmv+tjPvq8bEURy8NKxBqSW/SR4uBnUyqb41la/gzscYvzsQwZyFdxCNMLvwXN+XRvTISgkvSIYzquYSqezHVDbmfKVnfG0V/Or4rmTFF71N6hklbSUz3EEiTc/jsY9B4dAr28RkM5CfoRAnfOfC6CfsAti8JO463azl64lThBIkE2BVq5t522rTkt53HA/I2RUknba8/rPqaxP4bGkvUo/KAyr9KwhFJp2nz40SEXtutmOGituOCE/7FVHiV2Y5ZwzCM9eIbUgfsCOV9LaSMMBxB+qBfuJOsSZKqgccxFc=
